.title{
        font-size: 2rem;
        text-shadow: 0px 3px 20px #ffffff;
        text-align: center;
        width: 100%;

    }

    @media (width <=590px){
        .title{
            font-size: 4rem;
        }
    }