*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
body{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-image: url('./rickemorty.webp');
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}


@media (width <= 768px){
  body{
    background-image: url('./celular.jpg');
  }


}
  
